.container {
    width: 230px;
    min-width: 230px;
    height: 300px;

    gap: 0;
    flex-direction: column;

    border: 1px solid var(--mantine-color-dark-6)
}

.imageContainer {
    padding: 10px;
    height: 0;

    flex-basis: 100%;
}

.footer {
    padding: 10px;

    align-content: center;
    justify-content: space-between;
    flex-basis: 0;

    background: var(--mantine-color-gray-3);
}

.textContainer {
    gap: 0;
    flex-basis: 80%;
}

.title {
    height: 20px;
    width: 100px;
    margin-bottom: 5px;
}

.description {
    height: 20px;
    width: 150px;
}

.heart {
    flex-basis: 20%;
}